* {
  margin:0; padding:0;
  color: white;
}
html{
  font-family: 'Roboto Condensed', sans-serif;
}
body{
  background-color: #030710;
  /* 0e141a */
}
:root {
  --cycling: #E5BEED;
  --running: #BDD9BF;
}

#map {
  height: 65vh;
  width: 100vw;
}
.home{
  background-color: #030710;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}
.intro-container{
  text-transform: capitalize;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-right: 20%; */
}
.home h1{
  margin-left: 50px;
}
#censored{
  letter-spacing: 6px;
  padding: 0 5px;
  background-color: #6E7DAB;
  text-transform: uppercase;
  font-style: italic;
}
.activities{
  margin: 50px;
  margin-bottom: 10px;
}
.activities li{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 300;
}
.cycling-ratio, .running-ratio{
  background: #242424;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.cycling-ratio-filled, .running-ratio-filled{
  width: 2%;
  height: 100%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;}

.cycling-ratio-filled{
  background-color: #1ABA4A;
  background-color: var(--cycling);
}

.running-ratio-filled{
  background-color: #81ADC8;
  background-color: var(--running);
}

/* .location-data{
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.location-data h2{
  padding-left: 50px;
  width: 100%;
  padding-bottom: 20px;
} */
.leaflet-control-container{
  display: none;
}
.total-training{
  transition-delay: .5s;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.total-training{
  display: flex;
  font-size: 1.25em;
  font-weight: 300;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 0 50px;
  padding-bottom: 70px;
}
.total-training span{
  font-weight: 500;
  min-width: 30px;
  display: inline-block;
}
.stats{
  background-color: #030710;
  height: 100vh;
  width: 100vw;
}
.favorite-day{
  padding: 50px;
  font-size: 2.5em;
  font-weight: 300;
  padding-bottom: 0;
}
canvas{
  padding-top: 30px;
  background-color: #030710;
  box-sizing: content-box !important;
}
#myChart{
}
.weekday-container{
  padding: 0 30px;
  display: flex;
  justify-content: center;
}
.fav-day-container{
  width: 100%;
  height: 56px;
  background-color: #FB6376;
}
#fav-day{
  color: black;
  opacity: 0;
  padding: 0 4px;
  transition-duration: 1s;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-style: italic;
}
#runningChartSpeed, #runningChartDistance, #monthChart{
  padding: 15px;
  padding-top: 50px;
}
.performance-review h2{
  font-size: 2.5em;
  text-transform: capitalize;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 0;

}
.performance-review h3{
  font-size: 2.5em;
  text-transform: capitalize;
  padding: 4px 0;
}
.mute{
  background-color: #292832 !important;
}
.performance-review .type{
  margin-top: 20px;
  padding: 0 50px;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.performance-review h3 span{
  /* background-color: #378FDC; */
  padding: 2px 4px;
  transition-duration: 0.3s;
  margin: 3px;
}
.performance-review #cycling{
  background-color: var(--cycling);
}
.performance-review #running{
  background-color: var(--running);
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 80px;
	height: 52px;
	display: inline-block;
	/* border-radius: 100px; */
	position: relative;
  background: #E5BEED;
  justify-content: space-between;
}

label:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 7px;
	width: 38px;
	height: 38px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
  background: var(--running);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 40px;
}

.top-activity{
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 0;
}
.top-activity h4{
  font-size: 2em;
}
.top-activity p{
  padding: 10px 0;
  line-height: 58px;
  font-size: 1.5em;
  font-weight: 300;
}
#fastest-speed, #longest-distance{
  font-weight: 400;
  padding-right: 5px;
  font-size: 2em;
}
.top-activity .numbers{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.favorite-month{
  padding: 50px;
  font-weight: 300;
  padding-bottom: 0;
}
.favorite-month h3{
  margin: 0;
  font-size: 2.75em;
  padding: 0;
}
#fav-month{
  background-color: #C1F3F3;
  color: black;
}
#number-one{
  font-size: 1.75em;
  background: inherit;
}
.favorite-month .label{
  padding-left: 50px;
}
footer *{
  font-family: monospace !important;
  font-size: 1em;
}
footer{
  background-color: black;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer a{
  color: #007bff;
  text-decoration: none;
}
footer p, footer ul{
  margin-bottom: 16px;
}
.created-by{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}
.created-by span{
  display: inline-block;
  margin-bottom: 5px;
}
.flexing-container{
  font-size: 16px;
  display: flex;
  flex-direction: row;
}
.flexing-container .technologies{
  margin-right: 100px;
}
.flexing-container .technologies ul{
  columns: 2;
}
.flexing-container ul li{
  height: 24px;
  list-style: none;
}
